
.UserTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    overflow: auto;
  }
  
  .UserTable td, .UserTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .UserTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .UserTable tr:hover {background-color: #ddd;}
  
  .UserTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #20c997;
    color: white;
  }